################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MongoLabSurveyor/Bin/Debug
/MongoLabSurveyor/obj/Debug
/packages
/.nuget
*.user
*.suo
